.skills
	margin: 0 0 120px
	&__items
		display: grid
		grid-template-columns: repeat(4, min-content)
		justify-content: center
		gap: 13px
		margin: 0 auto 120px
	&__item
		width: 270px
		height: 270px
		padding: 30px 30px 25px
		border: 1px solid black
	.item
		&-header
			display: flex
			justify-content: space-between
		&-icon
			display: flex
			align-items: center
			height: 65px
		&-text
			margin-top: 20px
			display: flex
			flex-wrap: wrap
			gap: 15px
		&-title
			font-weight: 700
			font-size: 14px
		&-descr
			font-size: 12px

	.abilities
		&__items
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			gap: 30px 0
		&__item
			width: 350px
		.item-title
			position: relative
			&::after
				position: absolute
				top: 40%
				left: -13px
				transform: translateY(-50%)
				z-index: -1
				content: ''
				width: 36px
				height: 36px
				background: $main-color
				border-radius: 50%
		.item-diagram
			height: 14px
			background: #E8E4DE
			border-radius: 4px
			margin-top: 27px
			position: relative
			&_fill
				position: absolute
				content: ''
				display: block
				background: $main-color
				border-radius: 4px
				height: 14px
				width: 10px
			
				